body{
    font-family:Lato,"Microsoft YaHei",sans-serif;
    font-weight:400;
    font-size:1.1em;
}
h1{
    font-size:3.5em;
    margin:0 0 0.5em 0;
    margin-top:0
}
h2{
    font-size:2em;
    margin:0 0 0.2em 0;
    margin-top:0
}

h3{
    font-size:1.5em;
    margin:0 0 0.1em 0;
    margin-top:0
}

h4{
    font-size:1.25em;
    margin:0 0 0.1em 0;
    margin-top:0
}

h5{
    font-size:1.2em;
    margin:0 0 0.1em 0;
    margin-top:0
}

h6{
    font-size:1.1em;
    margin:0 0 0.1em 0;
    margin-top:0
}

p{
    font-size:1.1em;
    margin:0.5em 0}

ul{
    font-size:1.1em;
}

a{
    color:#972c28;
    text-decoration:none;
    transition:0.5s;
    cursor:pointer;   
}

a:hover{color:white;}
a.highlight{color:white;}
a.highlight:hover{color:#972c28;}


p{
    color:#ffd8d5;
}

h1{
    text-shadow:1px 2px #f35142,2px 4px #ffd8d5;
    text-align:center;
}

h1+h2,h1+p{
    margin-top:-0.5em
}

h2+h1{
    margin-top:0.8em}

h1 em,h2 em,h3 em,h4 em,h5 em,h6 em{
    color:#972c28;
    font-style:normal
}

ul{
    color:#ffd8d5;
}


.tag-panel{
    margin:10px auto;
}

.tag{
    background-color:#972c28;
    color:#ffd8d5;
    border-radius:6px;
    display:inline-block;
    padding:4px 12px;
    margin-right:3px;
    margin-bottom:3px;
    opacity:0.5
}

.tag.expert{
    opacity:1
}
.tag.familiar{
    opacity:0.5
}
.content{
    max-width:800px;
    margin:0 auto
}
*{
    box-sizing:border-box;
}
.section{
    background-color:#f35142;
    color:#eef3f0;
    padding:50px;
    transition:0.5s;
}

.section.initing{
    display:none;
}

.section.leaving{
    background-color:#ffeaea;
}
.center{
    text-align:center;
}
.clearboth{
    clear:both
}

#avatar{
    width:150px;
    height:150px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;       

}



.row{
    width: 60%;
    margin: 0 auto;  
    text-align: center;
    
}
.row:after{
    clear:both;
}
.show {
    height: 350px;
    width: 100%;
    height: 19vw;
}
.left-nav,.right-nav {
    display: inline-block;
    position: absolute;
    top: 25vw;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    width: 0;height: 0;
    z-index: 1000;
}
.left-nav {
    border-right: 30px solid #ffd8d5;
    left: 13vw;
}
.right-nav {
    border-left: 30px solid #ffd8d5;
    right: 13vw;
}
.left-nav:hover,.right-nav:hover {
    opacity: 0.75;
    cursor: pointer;
}
.name {
    display: block;
    font-size:40px;
    font-weight: 600;
    transition: 1s;
}
.content img {
    width: 23vw;
    opacity: 0;
    display: block;
    margin: 20px auto;
    transition: 2s;
}
.row:hover img{
    opacity: 100;   
}

.content {
    font-size: 20px;
    font-weight:bold; 
    text-align: left;
}
.product-good img,.product-sad img {
    width: 10vw;
    margin-right: 5vw;
}
.product-name {
    padding-left: 15vw;
}
.product-name h3,.product-good p,.product-sad p{
    display: inline-block;
    width: 13vw;
    color: white;
}
.product-good p,.product-sad p {
    color: #972c28;
    vertical-align: top;
}
.blank{
    height: 0;
    width: 60%;
    margin: 0 auto;
    border-bottom: 5px dashed white;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.idea h2,.tb h3 {
    color: #972c28;
}

.ui img{
    width: 13vw;
    height: 22vw;
    border-radius: 5px;
    margin: 0 1vw;
}
.ui img:hover {
    opacity: 0.75;
}
.cainiao h3{
    color: #972c28;
}
.cainiao a{
    color: white;
}
.cainiao a:hover {
    color: #972c28;
}
.through-line {
    font-weight: 100;
    text-decoration: line-through;
}
.container,.front,.back,.front img,.back img {
    width: 70vw;
    height: 30vw;
}
.flip {
    position: relative;
    transform-style: preserve-3d;
    transition: 1.5s;
}
.front,.back {
    position: absolute;
    top: 0;left: 0;
    backface-visibility: hidden;
}
.front {
    z-index: 2;
}
.back {
    transform:rotateY(180deg);
}
.container {
    perspective: 1000;
    transform-style: preserve-3d;
    margin: 0 auto;
}
.container:hover .flip {
    transform:rotateY(180deg);
}
.container:hover .front {
    opacity: 0.75;
}

.eyes h1,.apps h1,.eyes #eyes,.apps #app{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.eyes h1 {
    top: 80px;
}
.apps h1{
    top: 40px;
}
.eyes #eyes {
    top: 200px;
}
.eyes #eyes .name {
    margin-bottom: 30px;
}
.apps #app {
    top: 150px;
    width: 100%;
}
.apps,.eyes {
    overflow: hidden;
}