body {
    padding: 50px;
}
img{
    width: 200px;
    height: 200px;
}

a {
    text-decoration: none;
    color:palevioletred;
}

.project,.contact {
    width: 300px;
    margin-bottom: 10px;
}
.contact {
    position: absolute;
    left: 330px;
    top: 80px;
}
.contact a {
    color: midnightblue;
}
span.tri {
    display: inline-block;
    height: 0;
    width: 0;
    border-left: 10px solid midnightblue;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}